ENVIRONMENT=development
DATABASE_URL=sqlite:///./veridex.db
SECRET_KEY=q4juu5Tl-udjj9bUJEFpvB02fhWx9XprPDyCkdWFAgXfguDMj-6UmgVdEqdpVpdF
ACCESS_TOKEN_EXPIRE_MINUTES=60
TRIAL_DAYS=14
CORS_ORIGINS=["http://localhost:8501","http://localhost:3000"]